In [16]:
import pandas as pd
from difflib import SequenceMatcher
import os

In [2]:
df1 = pd.read_csv(f"Input_Sentences/Input_Sentences.csv")

In [3]:
df2 = pd.read_excel(f"Comparison_Sentences/SIT.xlsx")

In [4]:
df1.columns

Index(['INPUT_SENTENCE', 'NAME'], dtype='object')

In [5]:
df2.columns

Index(['SENTENCES', 'NAME'], dtype='object')

In [7]:
df3 = pd.merge(left = df1, right = df2, left_on = 'NAME', right_on = 'NAME' )

In [8]:
df3

  INPUT_SENTENCE      NAME                                     SENTENCES
0          Test1  P1_W1_S4  Enjoy the fair weather while in the tropics.
1          Test2  P1_W1_S3            You're used to being on the field.
2          Test3  P1_W1_S2                 The ballet is about to begin.
3          Test4  P1_W1_S1                     We picked grapes for wine
4          Test5  P1_W2_S4  he is capable and willing to make decisions.
5          Test6  P1_W2_S3   Big muscles are not necessarily strong ones
6          Test7  P1_W2_S2                       You want him to do well
7          Test8  P1_W2_S1                   I think I'm getting better.

In [10]:
list_sentences = list(df3['SENTENCES'])
list_input_sentences = list(df3['INPUT_SENTENCE'])

In [20]:
df3_List = []
for i in range(len(list_sentences)):
    ratio = SequenceMatcher(None, list_sentences[i].lower(), list_input_sentences[i].lower()).ratio()
    df3_List.append(ratio)

df3["SENTENCES"] = pd.DataFrame(df3['SENTENCES'])
df3["INPUT_SENTENCE"] = pd.DataFrame(df3['INPUT_SENTENCE'])
df3["NAME"] = pd.DataFrame(df3['NAME'])

# Adding a Frame of Intelligibility Score
df3["INTELLIGIBILITY_SCORE"] = pd.DataFrame(df3_List)

# Exporting a CSV frame
df3.to_csv(
    f"Intelligibility_Score/Intelligibility_Score1.csv", index=None)

writer = pd.ExcelWriter('Intelligibility_Score/Intelligibility_Score.xlsx', engine='xlsxwriter')

# Exporting to Excel Frame
df3.to_excel(writer, sheet_name='Score_1')

writer.save()